@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        $(function () {
            getMenusTree();
        })
        function getMenusTree() {
            $("#menuTree").ligerTree({
                url:"/admin/function/getMenusTree",
                idFieldName: 'mID',
                parentIDFieldName: 'mParentID',
                textFieldName: "mName",
                checkbox:false,
                onSelect:treeSel


            
            })
        }
        var mid;
        function treeSel(obj)
        {
            var node = obj.data;
            mid = node.mID;

            getlist(mid);
        }
        function getlist() {
            helper.getfunctions("@Request.RawUrl",createGrid)

        }
        function createGrid(toobaritems) {
            $("#list").ligerGrid({
                columns: [
                     { display: "编号", name: "fID" },
                     { display: "操作方法", name: "fName" },
                     { display: "标示", name: "fFunction" },
                     { display: "图标", name: "fPicname" },
                      {
                          display: "状态", name: "fStatus", render: function (rowdata, index, value) {
                              if (value == "0")
                                  return "<font color='green'>正常</font>";
                              return "<font color='red'>删除</font>";
                          }
                      }
                ],
                url: "/admin/function/getlist/" + mid,
                onSuccess:helper.gridsu
            });

        }
    </script>
</head>
<body>
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="javascript:void(0)" title="首页"><i class="icon-home"></i>首页</a>
                <a href="javascript:void(0)" title="系统管理"><i class="icon-road"></i>系统管理</a>
                <a class="current" href="javascript:void(0)">菜单按钮列表</a>
            </div>
        </div>
        <div style="height: 100%;">
            <div id="content-body" class="row-fluid">
                <div class="span22">
                    <!--列表-->
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>菜单按钮列表</h5>
                        </div>
                        <div style="width: 18%; height: 450px; float: left; border: 1px solid #0094ff;">
                            <ul id="menuTree"></ul>
                        </div>
                        <div style="width: 81%; float: right;">
                            <div id="list">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
