@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>setPermiss</title>
    <script type="text/javascript">
        $(function () {
            getmftree();
        });
        var tree;
        var rid = '@ViewBag.rid';
        function getmftree()
        {
            tree = $("#mftree").ligerTree({
                url: "/admin/role/getmftree/"+rid,
                textFieldName: "name",
                idFieldName: "id",
                parentIDFieldName: "pid",
                checkbox: true,
                autoCheckboxEven:false

            });
        }
        //将角色最新权限保存到syspermiss中
        function savedata()
        {
            //获取选中的节点
            var nodes = tree.getChecked();
            if (nodes == null || nodes.length == 0) { helper.warnTip("至少选择一个权限"); return;}
            //按照角色id-菜单id,按钮id|菜单id,按钮id拼接
            var parms = rid + "-";
            for (var i = 0; i < nodes.length; i++)
            {
                //判断节点类型
                if (nodes[i].data.ismenu) {
                    parms += nodes[i].data.id + ",5|";
                }
                else
                {
                    parms += nodes[i].data.pid + "," + nodes[i].data.id + "|";
                }
            }
            //发送给服务器
            $.post("/admin/role/setPermiss", "p="+parms, function (ajaxobj) {
                helper.checkStatus(ajaxobj, function () {

                    helper.successTip(ajaxobj.msg);
                    setTimeout(function () {
                        window.parent.helper.win.close();
                    }, 2000);
                });
            }, "json")
        }
    </script>
</head>
<body>
    <div id="content" style="margin-top: 15px;">
        <div style="height: 100%;">
            <div id="content-body" class="row-fluid">
                <div class="span22">
                    <!--列表-->
                    <div>
                        <input type="button" value="保存" onclick="savedata()" />
                        <input type="button" value="关闭" onclick="window.parent.helper.win.close()" />
                    </div>
                    <div class="widget-box">
                        <ul id="mftree"></ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
